.navbar {

}

.ui-autocomplete {
    z-index: 9999999 !important;
    max-height: 50%;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

.main-info{
    margin-left: auto;
    margin-right: auto;
}

.selected {
    background-color: brown;
    color: #FFF;
}

g.conceptG circle{
    stroke: #333;
    stroke-width: 2px;
}

g.conceptG:hover circle{
    fill: rgb(200, 238, 241);
}


path.link {
    fill: none;
    stroke: #333;
    stroke-width: 6px;
    cursor: default;
}
path.link:hover{
    stroke: rgb(94, 196, 204);
}

.custom-control.teleport-switch {
  --color: #4cd964;
  padding-left: 0; }
  .custom-control.teleport-switch .teleport-switch-control-input {
    display: none; }
    .custom-control.teleport-switch .teleport-switch-control-input:checked ~ .teleport-switch-control-indicator {
      border-color: var(--color); }
      .custom-control.teleport-switch .teleport-switch-control-input:checked ~ .teleport-switch-control-indicator::after {
        left: -14px; }
      .custom-control.teleport-switch .teleport-switch-control-input:checked ~ .teleport-switch-control-indicator::before {
        right: 2px;
        background-color: var(--color); }
    .custom-control.teleport-switch .teleport-switch-control-input:disabled ~ .teleport-switch-control-indicator {
      opacity: .4; }
  .custom-control.teleport-switch .teleport-switch-control-indicator {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    top: 4px;
    width: 32px;
    height: 20px;
    background: #fff;
    border-radius: 16px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border: 2px solid #ccc;
    overflow: hidden; }
    .custom-control.teleport-switch .teleport-switch-control-indicator::after {
      content: '';
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      top: 2px;
      left: 2px;
      background: #ccc; }
    .custom-control.teleport-switch .teleport-switch-control-indicator::before {
      content: '';
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      top: 2px;
      right: -14px;
      background: #ccc; }

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
        -webkit-tap-highlight-color: transparent;
}

#alarm_button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 5px;
    background: #ffc421;
    border: 2px solid black;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
    transition: 500ms;
}

#alarm_button:after {
    content: '';
    position: absolute;
    transform: translateX(-55px) translateY(-40px);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0px 0px 50px transparent;
    transition: 500ms;
}

#alarm_button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

#alarm_button:hover:after {
    background: white;
    box-shadow: 0px 0px 20px #ffc421, 0px 0px 30px #ffc421, inset 0px 0px 10px #ffc421;
    animation: spin 1s infinite linear;
}

@keyframes spin{
    25%{transform: translateX(-25px) translateY(-35px);
            width: 15px;
            height: 15px;}
    50% {transform: translateX(-55px) translateY(-30px);
            width: 5px;
            height: 5px;}
    75% {transform: translateX(-85px) translateY(-35px);
            width: 15px;
            height: 15px;}
}

#alarm_button:focus {
    outline: none;
}
.container {
	width: 300px;
	height: 420px;
	border: solid 1px #dedede;
	border-radius: 2px;
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.04);
	background: #fff;
}
.viewport {
	overflow: hidden;
	position: absolute;
	left: 19px;
	right: 9px;
	top: 7px;
	bottom: 7px;
}
.content-box {
	height: 100%;
	position: absolute;
	left: 0;
	right: -17px;
	overflow-y: scroll;
}
.content-list {
	padding: 0 20px 0 5px;
	user-select: none;
}
	.content-list li + li { margin-top: 10px; }

.scrollbar, .scroller {
	width: 4px;
	position: absolute;
	top: 0;
}
.scrollbar {
	right: 0;
	bottom: 0;
}
.scroller {
	left: 0;
	border-radius: 2px;
	background: #ccc;
	cursor: pointer;
}

#required {
	background-color: #ff6666;
}

#nonrequired {
	background-color: #d9d926;
}

[data-toggle="toggle"] {
	display: none;
}