#history_table {
	width: 750px;
	border-collapse: collapse;
	}

#history_table th {
	background: #3498db;
	color: white;
	font-weight: bold;
	}

#history_table td, th {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: left;
	font-size: 18px;
	}

#history_table .labels tr td {
	font-weight: bold;
	color: #fff;
}


#history_table .label tr td label {
	display: block;
}


