table {
	width: 750px;
	border-collapse: collapse;
	}

th {
	background: #3498db;
	color: white;
	font-weight: bold;
	}

td, th {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: left;
	font-size: 18px;
	}

.labels tr td {
	font-weight: bold;
	color: #fff;
}

#required {
	background-color: #ff6666;
}

#nonrequired {
	background-color: #d9d926;
}

.label tr td label {
	display: block;
}


[data-toggle="toggle"] {
	display: none;
}