{% extends "base.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles_for_alert.css' %}">
    <div class="row justify-content-center main-info" style="padding-top: 5%">
    <div class="col-sm-8 text-center">
	    <h1 align="center">Required sound notifications</h1 >
                <table id="history_table" class="table table-condensed table-hover shadow p-4 mb-4 bg-white">
                    {% for data in conditions %}
                        <tbody class="labels" data-alert-id="{{ data.id }}" >
							<tr {% if data.is_required_condition == 1%} id="required" {% else %} id="nonrequired" {% endif %}>
								<td colspan="6">
									<label for={{forloop.counter}}>{{ data.comment }}</label>
                                    <label style="float:right; margin-right: 30px">{{ data.time_calc|date:"F d, Y, H:i:s" }}</label>
									<input type="checkbox" name={{forloop.counter}} id={{forloop.counter}} data-toggle="toggle">
								</td>
							</tr>
						</tbody>

                        <tbody class="hide" style="display: none;">
									<tr>
							<td colspan="2">Time of calculate: {{ data.time_calc|date:"F d, Y, H:i:s" }}</td>
							<td>Name of creator: {{ data.creator }}</td>
							<td>Bool result: {{ data.bool_result }}</td>
							<td colspan="2">Value result: {{ data.val_result }}</td>
						</tr>
						<tr>
							<td colspan="6">Text Formula: {{ data.text_formula }}</td>
						</tr>
						<tr>
							<td colspan="6">Value formula: {{ data.val_formula }}</td>
						</tr>
						</tbody>

                    {% endfor %}


				</table>
        <button id="upload_more_information_to_the_end_of_history_table" style="width: 100%">Показать еще</button>
    </div>
    </div>


{% endblock %}
{% block javascript %}
    <script>
        function get_more_alert_history_info(){
            var last_alert_id = $("#history_table").children()[0].getAttribute('data-alert-id')
            $.ajax({
                type:'GET',
                url : "{% url 'get_more_alert_history_info' %}",
                data:{
                    last_alert_id:last_alert_id,
                },
                success: function (response) {
                    console.log(response);
                    if (response === 'None'){
                        console.log('Nothing to update')
                    }
                    else {
                    var submission_date;
                    if (response.length > 0) {
                        for (i = 0; i < response.length; i++) {
                            submission_date = moment(response[i]["time_calc"]).format('MMMM DD, YYYY, HH:mm:ss');
                            var is_required = response[i]["is_required_condition"] === 1 ? 'required' : 'nonrequired';
                            $('#history_table').prepend('<tbody class="labels" style="vertical-align: central" data-alert-id="'+ response[i]["id"] +'"> <tr id="' + is_required + '"> <td colspan="6"> <label for="' + response[i]["id"]+ "history_table" + '">' + response[i]["comment"] + '</label> <input type="checkbox" name="' + response[i]["id"]+ "history_table" + '" id="' + response[i]["id"]+ "history_table" + '" data-toggle="toggle"> </td> </tr> </tbody><tbody class="hide" style="display: none;"> <tr> <td colspan="2">Time of calculate: ' + submission_date + '</td> <td>Name of creator: ' + response[i]["creator"] + '</td> <td>Bool result: ' + response[i]["bool_result"] + '</td> <td colspan="2">Value result: ' + response[i]["val_result"] + '</td> </tr> <tr> <td colspan="6">Text Formula: ' + response[i]["text_formula"] + '</td> </tr> <tr> <td colspan="6">Value formula: ' + response[i]["val_formula"] + '</td> </tr> </tbody>')
                        } } }
                },
                error: function (response) {
                    console.log(response)
                }
            });
        }
    </script>
<script>
$("body").on('click', '#upload_more_information_to_the_end_of_history_table', function(){
    var obj =$("#history_table").children()
    var first_alert_id = obj[obj.length - 2].getAttribute('data-alert-id')
            $.ajax({
                type:'GET',
                url : "{% url 'upload_more_information_to_the_end_of_history_table' %}",
                data:{
                    first_alert_id:first_alert_id,
                },
                success: function (response) {
                    console.log(response);
                    if (response === 'None'){
                        console.log('Nothing to update')
                    }
                    else {
                    var submission_date;
                    if (response.length > 0) {
                        for (i = 0; i < response.length; i++) {
                            submission_date = moment(response[i]["time_calc"]).format('MMMM DD, YYYY, HH:mm:ss');
                            var is_required = response[i]["is_required_condition"] === 1 ? 'required' : 'nonrequired';
                            $('#history_table').append('<tbody class="labels" style="vertical-align: central" data-alert-id="'+ response[i]["id"] +'"> <tr id="' + is_required + '"> <td colspan="6"> <label for="' + response[i]["id"]+ "history_table" + '">' + response[i]["comment"] + '</label> <input type="checkbox" name="' + response[i]["id"]+ "history_table" + '" id="' + response[i]["id"]+ "history_table" + '" data-toggle="toggle"> </td> </tr> </tbody><tbody class="hide" style="display: none;"> <tr> <td colspan="2">Time of calculate: ' + submission_date + '</td> <td>Name of creator: ' + response[i]["creator"] + '</td> <td>Bool result: ' + response[i]["bool_result"] + '</td> <td colspan="2">Value result: ' + response[i]["val_result"] + '</td> </tr> <tr> <td colspan="6">Text Formula: ' + response[i]["text_formula"] + '</td> </tr> <tr> <td colspan="6">Value formula: ' + response[i]["val_formula"] + '</td> </tr> </tbody>')
                        } } }
                },
                error: function (response) {
                    console.log(response)
                }
            });
});

$(document).ready(function (){
        setInterval(get_more_alert_history_info,5000)
    })
</script>

{% endblock javascript %}