{% extends "base.html" %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/styles_for_alert.css' %}">

{% block content %}
    <div class="container-fluid">
    <div class="col-sm-5 text-center">
	    <h1 align="center">Required sound notifications</h1 >

    	<div>
                <table>
					<tbody>
						<tbody class="labels">
							<tr>
								<td colspan="6">
									<label for="accounting">Comment</label>
									<input type="checkbox" name="accounting" id="accounting" data-toggle="toggle">
								</td>
							</tr>
						</tbody>
						<tbody class="hide">
									<tr>
							<td colspan="2">Time Calc</td>
							<td>creatoor</td>
							<td>bool result</td>
							<td colspan="2">Val result</td>
						</tr>
						<tr>
							<td colspan="6">Text Formula</td>
						</tr>
						<tr>
							<td colspan="6">Val formula</td>
						</tr>
						</tbody>

                    <tbody class="labels">
							<tr>
								<td colspan="6">
									<label for="management">Comment</label>
									<input type="checkbox" name="management" id="management" data-toggle="toggle">
								</td>
							</tr>
						</tbody>
						<tbody class="hide">
									<tr>
							<td colspan="2">Time Calc</td>
							<td>creatoor</td>
							<td>bool result</td>
							<td colspan="2">Val result</td>
						</tr>
						<tr>
							<td colspan="6">Text Formula</td>
						</tr>
						<tr>
							<td colspan="6">Val formula</td>
						</tr>
						</tbody>
                    </tbody>
				</table>
        </div>
    </div>
    <div class="col-sm-5 text-center">
	<h1 align="center">Optional sound notifications</h1 >

    	<div>
        	<table class="table table-condensed table-hover shadow p-4 mb-4 bg-white" id="">
                <tr class="row-of-data">
                    <th>Инфо</th>
                    <th>Название условия</th>
                    <th>Результат</th>
                    <th>Сирена</th>
                </tr>
            </table>
        </div>
    </div>
    </div>


{% endblock %}
{% block javascript %}
    <script>
    $(document).ready(function() {
        $('[data-toggle="toggle"]').change(function(){
            $(this).parents().next('.hide').toggle();
        });
    });
    </script>
{% endblock javascript %}