<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Slow Control System</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/d3-context-menu.css' %}">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">


</head>

<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script type="text/javascript" src={% static 'js/moment.min.js' %}></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.3.1/d3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid fixed-top">
    <!-- Контейнер (определяет ширину компонента Navbar) -->
        <!-- Бренд и кнопка «Гамбургер» -->
        <a class="navbar-brand col-sm-7" href="{% url 'home' %}">SND Slow Control System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbar-example" aria-controls="navbar-example"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Основная часть меню (может содержать ссылки, формы и другие элементы) -->
        <div class="collapse navbar-collapse" id="navbar-example">
            <!-- Этот блок расположен слева -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        Main <span class="sr-only">(текущая)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'alert' %}">
                        Alert History <span class="sr-only">(текущая)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'custom_settings' %}">
                        Custom variables and formulas
                    </a>
                </li>
                {% load control_extras %}
                {% if request.user|has_group:"Expert" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'graph_editor' %}">
                        Graph editor
                    </a>
                </li>
                {% endif %}

            </ul>
            <!-- Этот блок расположен справа -->
            <form class="form-inline my-2 my-lg-0">
                {% block sidebar %}
                {% if user.is_authenticated %}
                    <li class="nav-item" style="list-style-type: none">
                    <a class="btn btn-danger" id="username_button" >{{ user.get_username }}</a>
                </li>
                    
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; </p>
                    <a class="btn btn-danger my-2 my-sm-0" href="{% url 'logout'%}" role="button">Log Out</a>


                {% else %}
                    <a class="btn btn-outline-info my-2 my-sm-0" href="{% url 'login'%}?next={{request.path}}" role="button">Log In</a>


                {% endif %}
                {% endblock %}

            </form>
        </div>
</nav>
 {% block content %}
 {% endblock %}

<!-- Modal -->
<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
         {% block login_info %}
            {% endblock %}
      </div>
    </div>
  </div>
</div>

<div class="right-corder-container">
    <button class="right-corder-container-button">
        <span class="short-text">+</span>
        <span class="long-text">Add Me</span>
    </button>
</div>



<div style="position: fixed; right: 20px; bottom: 50px">
	<div class="sampleDiv">
        <p>ANDREY</p>
<!-- 		<table cellspacing="0" cellpadding="0" border="0" width="325">
  <tr>
    <td>
       <table cellspacing="0" cellpadding="1" border="1" width="500" >
         <tr style="color:white;background-color:grey">
            <th>Header 1</th>
            <th>Header 2</th>
         </tr>
       </table>
    </td>
  </tr>
  <tr>
    <td>
       <div style="width:500px; height:600px; overflow:auto; margin-bottom: 10px">
         <table cellspacing="0" cellpadding="1" border="1" width="480" >
           <tr>
             <td>new item</td>
             <td>new item</td>
           </tr>
           <tr>
             <td>new item</td>
             <td>new item</td>
           </tr>
              <tr>
             <td>new item</td>
             <td>new item</td>
           </tr>
              <tr>
             <td>new item</td>
             <td>new item</td>
           </tr>
              <tr>
             <td>new item</td>
             <td>new item</td>
           </tr>
              <tr>
             <td>new item</td>
             <td>new item</td>
           </tr>
              <tr>
             <td>new item</td>
             <td>new item</td>
           </tr>
              <tr>
             <td>new item</td>
             <td>new item</td>
           </tr>
              <tr>
             <td>new item</td>
             <td>new item</td>
           </tr>
              <tr>
             <td>new item</td>
             <td>new item</td>
           </tr>
         </table>
       </div>
    </td>
  </tr>
</table>
 -->	</div>
	<button class="noselect btnShowDiv" id="alarm_button" style="display: block; float: right;">ALARM</button>
</div>

    {% block javascript %}
    {% endblock javascript %}

{% if user.is_authenticated  %}
<script language="JavaScript">
$(".right-corder-container-button").hover(function() {
    $(".long-text").addClass("show-long-text");
}, function () {
    $(".long-text").removeClass("show-long-text");
});

$(document).ready(function(){
   $('.btnShowDiv').click(function(){
       $('.sampleDiv').slideToggle(1000);
   });
});


$(document).ready(function() {

  if(window.location.href.indexOf("/slowcontrol/accounts/login/?next=/") != -1) {
    $('#login_modal').modal('show');
  }

});

    function is_SAM_working(){
                $.ajax({
            type: 'GET',
            url: "{% url 'is_SAM_working' %}",
            datatype: 'json',

            success: function() {
                console.log('server working fine');
                $('#username_button').removeClass('btn-danger').removeClass('btn-success').addClass('btn-success');

            },
            error: function() {
                console.log('server not working');
                $('#username_button').removeClass('btn-danger').removeClass('btn-success').addClass('btn-danger');
            }
        });
    }

    function is_user_still_online(){
        var now = new Date().toISOString().slice(0, 19).replace('T', ' ');
        $.ajax({
            type: 'GET',
            url: "{% url 'is_user_still_online' %}",
            datatype: 'json',
            data:{
                current_datetime: now,
            },

            success: function() {
                console.log('Info is updated');

            },
            error: function() {
                console.log('server not working');
            }
        });
    }

        function get_new_alert_sound(){
        $.ajax({
            type: 'GET',
            url: "{% url 'get_new_alert_sound' %}",
            datatype: 'json',
            success: function() {
                console.log('Info is updated');

            },
            error: function() {
                console.log('server not working');
            }
        });
    }

    window.onload = function () {
      is_SAM_working();
      is_user_still_online();
    };

    $(document).ready(function (){
        setInterval(is_SAM_working,60000);
        setInterval(is_user_still_online,300000);
        setInterval(get_new_alert_sound,5000)
    })
</script>
{% endif %}
</body>
</html>



