<form action="{% url 'condition_create' %}" method="post">
{% load crispy_forms_tags %}

{% csrf_token %}
 <div class="new_condition_form ">
{{ form|crispy }}
     <div class="col-6">
      </div>
</div>
</form>

{% block javascript %}


  <script>
  $(document).ready( function() {
    var isItFirstComplete = true;
    var lastItem = null;
    var first_part;
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    function split( val ) {
      return val.split( / \s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }

    $( "#id_comment" )
      // don't navigate away from the field on tab when selecting an item
      .on( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        {#source: function( request, response ) {#}
        {#  // delegate back to autocomplete, but extract the last term#}
        {#  response( $.ui.autocomplete.filter(#}
        {#    availableTags, extractLast( request.term ) ) );},#}
        source: function(request, response){
            if (request.term.slice(-1) === ':'){
                first_part = false;
            }else {first_part = true}
        $.ajax({
            type:'GET',
            url : "{% url 'search_info_for_autocomplete' %}",
            data:{
                maxRows: 10, // показать первые 12 результатов (Может быть и 1к но и
                nameStartsWith: extractLast(request.term), // поисковая фраза
                lastItem: lastItem,
            },
            success: function(data){
                response(data);
            }
        });
    },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push("");
          this.value = terms.join('');
          isItFirstComplete = !isItFirstComplete;
          lastItem = ui.item.value;
          return false;
        }
      });
  } );
  </script>

{#    <script>#}
{#     $(document).ready(function (){#}
{#      $('input#div_id_min_val').css("disabled","true");#}
{#      $('input#div_id_max_val').css("disabled","true");#}
{#      $('input#div_id_limit_val').css("disabled","true");#}
{#      $('input#div_id_priority').css("disabled","true");#}
{#      $('input#div_id_alert_interval').css("disabled","true");#}
{##}
{##}
{#    })#}
{#    </script>#}
{#    <script>#}
{#    $('#id_cond_type').on('change', function (){#}
{#        if (this.value == 2 || this.value == 3 || this.value == 4 || this.value == 5){#}
{#            $('#div_id_limit_val').css("disabled","false");#}
{#            $('#div_id_min_val').css("disabled","true");#}
{#            $('#div_id_max_val').css("disabled","true");#}
{#        }#}
{#        if (this.value == 6){#}
{#            $('#div_id_min_val').css("disabled","false");#}
{#            $('#div_id_max_val').css("disabled","false");#}
{#            $('#id_disabled_method').css("disabled","false");#}
{#            $('#div_id_limit_val').css("disabled","true");#}
{#        }#}
{#        if (this.value == 1){#}
{#            $('#div_id_min_val').css("disabled","true");#}
{#            $('#div_id_max_val').css("disabled","true");#}
{#            $('#div_id_limit_val').css("disabled","true");#}
{#        }#}
{#    });#}
{#    $('#id_disabled_method').on('change', function (){#}
{#        if (this.value == "Text+Siren"){#}
{#            $('#div_id_priority').css("disabled","false");#}
{#            $('#div_id_alert_interval').css("disabled","false");#}
{#        }#}
{#        if (this.value == "Text"){#}
{#            $('#div_id_priority').css("disabled","true");#}
{#            $('#div_id_alert_interval').css("disabled","true");#}
{#        }#}
{##}
{##}
{#    });#}
{#    </script>#}
{% endblock javascript %}