<form action="{% url 'condition_create' %}" method="post">
{% load crispy_forms_tags %}

{% csrf_token %}
 <div class="new_condition_form ">
{{ form|crispy }}
     <div class="col-6">
      </div>
</div>
</form>

{% block javascript %}


  <script>
  $(document).ready( function() {
    var projects = [
      {
        value: "jquery",
        label: "jQuery",
        desc: "the write less, do more, JavaScript library",
        icon: "jquery_32x32.png"
      },
      {
        value: "jquery-ui",
        label: "jQuery UI",
        desc: "the official user interface library for jQuery",
        icon: "jqueryui_32x32.png"
      },
      {
        value: "sizzlejs",
        label: "Sizzle JS",
        desc: "a pure-JavaScript CSS selector engine",
        icon: "sizzlejs_32x32.png"
      }
    ];

    $( "#id_comment" ).autocomplete({
      minLength: 0,
      source: projects,
      focus: function( event, ui ) {
        $( "#project" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
        $( "#project" ).val( ui.item.label );
        $( "#project-id" ).val( ui.item.value );
        $( "#project-description" ).html( ui.item.desc );
        $( "#project-icon" ).attr( "src", "images/" + ui.item.icon );

        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<div>" + item.label + "<br>" + item.desc + "</div>" )
        .appendTo( ul );
    };
  } );
  </script>

{#    <script>#}
{#     $(document).ready(function (){#}
{#      $('input#div_id_min_val').css("disabled","true");#}
{#      $('input#div_id_max_val').css("disabled","true");#}
{#      $('input#div_id_limit_val').css("disabled","true");#}
{#      $('input#div_id_priority').css("disabled","true");#}
{#      $('input#div_id_alert_interval').css("disabled","true");#}
{##}
{##}
{#    })#}
{#    </script>#}
{#    <script>#}
{#    $('#id_cond_type').on('change', function (){#}
{#        if (this.value == 2 || this.value == 3 || this.value == 4 || this.value == 5){#}
{#            $('#div_id_limit_val').css("disabled","false");#}
{#            $('#div_id_min_val').css("disabled","true");#}
{#            $('#div_id_max_val').css("disabled","true");#}
{#        }#}
{#        if (this.value == 6){#}
{#            $('#div_id_min_val').css("disabled","false");#}
{#            $('#div_id_max_val').css("disabled","false");#}
{#            $('#id_disabled_method').css("disabled","false");#}
{#            $('#div_id_limit_val').css("disabled","true");#}
{#        }#}
{#        if (this.value == 1){#}
{#            $('#div_id_min_val').css("disabled","true");#}
{#            $('#div_id_max_val').css("disabled","true");#}
{#            $('#div_id_limit_val').css("disabled","true");#}
{#        }#}
{#    });#}
{#    $('#id_disabled_method').on('change', function (){#}
{#        if (this.value == "Text+Siren"){#}
{#            $('#div_id_priority').css("disabled","false");#}
{#            $('#div_id_alert_interval').css("disabled","false");#}
{#        }#}
{#        if (this.value == "Text"){#}
{#            $('#div_id_priority').css("disabled","true");#}
{#            $('#div_id_alert_interval').css("disabled","true");#}
{#        }#}
{##}
{##}
{#    });#}
{#    </script>#}
{% endblock javascript %}