{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center main-info" style="padding-top: 3%">
<div class="col-sm-12 gx-5 text-center">
    <h1 style="text-align: left">Ваши условия</h1>
         {% if your_conditions %}
        <table class="table table-responsive new_condition_table" >
        <tr>
        <th>Name of your condition</th>
        <th>formula</th>
        <th>Condition type</th>
        <th>Display Method</th>
        <th>Alert Interval</th>
        <th>Max value</th>
        <th>Min value</th>
        <th>Limit value</th>

        </tr>
        {% for data in your_conditions %}
        <tr class="cond_data" id="your_conditions">
            <td>{{ data.comment|default_if_none:"&times;" }}</td>
            <td>{{ data.formula|default_if_none:"&times;" }}</td>
            {% if data.cond_type == '1' %}
            <td>Digit result of formula</td>
            {% endif %}
            {% if data.cond_type == '2' %}
            <td><</td>
            {% endif %}
            {% if data.cond_type == '3' %}
            <td>></td>
            {% endif %}
            {% if data.cond_type == '4' %}
            <td>>=</td>
            {% endif %}
            {% if data.cond_type == '5' %}
            <td><=</td>
            {% endif %}
            {% if data.cond_type == '6' %}
            <td>Is result in interval</td>
            {% endif %}
            {% if data.cond_type == '7' %}
            <td>Bool result</td>
            {% endif %}
            <td>{{ data.display_method }}</td>
            <td>{{ data.alert_interval|default_if_none:" " }}</td>
            <td>{{ data.max_val|default_if_none:"&times;" }}</td>
            <td>{{ data.min_val|default_if_none:"&times;" }}</td>
            <td>{{ data.limit_val|default_if_none:"&times;" }}</td>


        </tr>
        {% endfor %}

        {% else %}
            <p>У вас нет данных</p>
        {% endif %}
        </table>
    <div class="row justify-content-center gx-5">
        <button class="btn col-sm-5 btn-outline-dark gx-5" id="add_new_condition">Add a new condition</button>
         <button class="btn col-sm-5 btn-outline-dark gx-5" id="change_exist_condition">Change the condition</button>
        <button disabled class="btn col-sm-5 btn-outline-dark del_exist_condition" >Delete selected condition</button>
    </div>

    </div>

</div>
<div class="row p-5">
<div class="">
    <h1 style="text-align: left">Ваши переменные</h1>
        {% if your_variables %}
        <table class="table table-responsive new_variable_table" >
        <tr>
        <th>Variable</th>
        <th>Interval time</th>
        </tr>
        {% for data in your_variables %}
        <tr class="paths_data" id="your_variables">
            <td>{{ data.path }}</td>
            <td>{{ data.interval_time }}</td>
        </tr>
        {% endfor %}

        {% else %}
            <p>У вас нет данных</p>
        {% endif %}
        </table>
    <div class="row justify-content-center">
        <button class="btn btn-outline-dark" id="add_new_variable">Add a new variable</button>
        <button disabled class="btn btn-outline-dark del_exist_variable" >Delete selected variable</button>
    </div>
    </div>
</div>


    <!-- Modal for variable-->
<div class="modal fade" id="add_new_variable_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавление новой переменной</h5>
        <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
             <form method="POST" id="post_new_var_form">
            {% csrf_token %}
            <div class="form-group">
                 <label style="color: black">Source</label>
                <p><select  class="form-select collectes-date-chargement-min text-center" aria-label="Default select example" id="source">
                    <option selected>Choose source of variable</option>
                    <option value="tem">TemBase</option>
                    <option>Another</option>
                </select></p>
            </div>
            <div class="form-group">
                <label style="color: black">Path</label>
                <input type="text" class="form-control collectes-date-chargement-min text-center" id="var_path" placeholder="Insert path">
            </div>
            <div class="form-group">
                <label style="color: black">Interval Time</label>
                <input type="number" class="form-control collectes-date-chargement-min text-center" id="interval_time" placeholder="Insert interval time in seconds (INTEGER)">
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
            </form>
      </div>
    </div>
  </div>
</div>

    <!-- Modal for condition-->
<div class="modal fade" id="add_new_condition_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title add-or-change-modal" data-id-of-condition="" id="exampleModalLabel">Добавление нового условия</h5>
        <button type="button" class="close btn btn-outline-dark" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
          <form method="POST" id="condition_create">
              {% load control_extras %}
              {% if request.user|has_group:"Expert" %}
                  <div class="form-group is_required">
                      <label style="color: black">Is it required condition?</label>
                      <label class="custom-control teleport-switch">
                        <span class="teleport-switch-control-description">No</span>
                        <input type="checkbox" id="id_is_required_condition" class="teleport-switch-control-input form-control collectes-date-chargement-min">
                        <span class="teleport-switch-control-indicator"></span>
                        <span class="teleport-switch-control-description">Yes</span>
                      </label>
                  </div>
              {% endif %}
            <div class="form-group cond_name">
                <label style="color: black">Name of your condition</label>
                <input type="text" class="form-control collectes-date-chargement-min " id="id_cond_name" placeholder="Insert name of your condition">
            </div>
            <div class="form-group cond_formula">
                <label style="color: black">Formula for condition</label>
                <textarea class="form-control collectes-date-chargement-min " id="id_formula" rows="3"></textarea>
            </div>
            <div class="form-group cond_type">
                 <label style="color: black">Conditional type</label>
                <p><select  class="form-select collectes-date-chargement-min text-center" aria-label="Default select example" id="id_cond_type">
                    <option selected value="1">Digit result of formula</option>
                    <option value="7">Bool result</option>
                    <option value="2"><</option>
                    <option value="3">></option>
                    <option value="4">>=</option>
                    <option value="5"><=</option>
                    <option value="6">Result in interval</option>
                </select></p>
            </div>
            <div class="form-group cond_min_val">
                <label style="color: black">Minimum value</label>
                <textarea class="form-control collectes-date-chargement-min " id="id_min_val" rows="3"></textarea>
            </div>
            <div class="form-group cond_max_val">
                <label style="color: black">Maximum value</label>
                <textarea class="form-control collectes-date-chargement-min " id="id_max_val" rows="3"></textarea>
            </div>
            <div class="form-group cond_limit_val">
                <label style="color: black">Limit value</label>
                <textarea class="form-control collectes-date-chargement-min " id="id_limit_val" rows="3"></textarea>
            </div>
            <div class="form-group cond_display_method">
                 <label style="color: black">Conditional display method</label>
                <p><select  class="form-select collectes-date-chargement-min text-center" aria-label="Default select example" id="id_display_method">
                    <option selected value="Text">Text</option>
                    <option value="Text+Siren">Text+Siren</option>
                </select></p>
            </div>
            <div class="form-group cond_priority_for_signal_alert">
                <label class="text-centre" style="color: black">Priority of this condition for alert system (interval: from 1 to 5)</label>
                <input type="number" min="0" max="5" class="form-control collectes-date-chargement-min text-center" id="id_priority_for_alert" placeholder="Insert priority for alert from 1 to 5 (INTEGER)">
            </div>
            <div class="form-group cond_interval_for_signal_alert">
                <label style="color: black; text-align: center">Interval Time (interval: from 30 to 600?????? seconds)</label>
                <input type="number" min="30" max="600" class="form-control collectes-date-chargement-min text-center" id="id_interval_for_alert" placeholder="Insert interval for alert from 30 to 600 sec (INTEGER)">
            </div>
            <div class="form-group cond_tags">
                <label style="color: black">Tags for your condition</label>
                <input type="text" class="form-control collectes-date-chargement-min " id="id_cond_tags" placeholder="Insert tags for your condition e.g. tag_for_1, example_of_tag341, ..">
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
            </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
    <!-- Form creation hide or show divs -->
<script>
     $(document).ready(function (){
         $(".cond_min_val").hide();
         $(".cond_max_val").hide();
         $(".cond_limit_val").hide();
         $(".cond_priority_for_signal_alert").hide();
         $(".cond_interval_for_signal_alert").hide();
         $(".cond_display_method").hide();
         $(".cond_tags").hide();
    });

    $('#id_cond_type').on('change', function (){

        if (this.value === '2' || this.value === '3' || this.value === '4' || this.value === '5'){
            $(".cond_limit_val").show();
            $(".cond_min_val").hide();
            $(".cond_max_val").hide();
            $(".cond_display_method").show();
        }
        if (this.value === '6'){
            $(".cond_min_val").show();
            $(".cond_max_val").show();
            $(".cond_limit_val").hide();
            $(".cond_display_method").show();
        }
        if (this.value === '1'){
            $(".cond_min_val").hide();
            $(".cond_max_val").hide();
            $(".cond_limit_val").hide();
            $(".cond_display_method").hide();
        }
        if (this.value === '7'){
            $(".cond_min_val").hide();
            $(".cond_max_val").hide();
            $(".cond_limit_val").hide();
            $(".cond_display_method").show();
        }
    });


    $('#id_display_method').on('change', function (){
        if (this.value === "Text"){
             $(".cond_priority_for_signal_alert").hide();
             $(".cond_interval_for_signal_alert").hide();
             $(".cond_tags").hide();
        }
        if (this.value === "Text+Siren"){
             $(".cond_priority_for_signal_alert").show();
             $(".cond_interval_for_signal_alert").show();
             $(".cond_tags").show();

        }


    });
    </script>
    <!-- JavaScript for variables-->

    <!-- Delete exist variable -->
<script>
    $(document).on('click',".del_exist_variable",function (e){
    var value =($(".new_variable_table tr.selected td:first").html());
    e.preventDefault();
    $.ajax({
        type:'GET',
        url : "{% url 'del_exist_variable' %}",
        data:{
            var_path:value,
        },
        success: function (response) {
                    $('.paths_data').remove();
                    for(i=0;i<response.length;i++) {
                 $('.new_variable_table').append('<tr class="paths_data"><td>'+response[i]['fields']['path']+'</td><td>'+response[i]['fields']['source']+'</td><td>'+response[i]['fields']['interval_time']+'</td><td>');
                }
                  $('.del_exist_variable').prop('disabled',true);

            },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
});
</script>

    <!-- Button for open modal window for new variables -->
<script>
    $('#add_new_variable').on('click',function () {
    $('#add_new_variable_modal').modal('show')
    });
</script>

    <!-- Auto complete for new condition -->
<script>
  $(document).ready( function() {

    function split( val ) {
      return val.split( / \s*/ );
    }

    function extractLast( term ) {
      return split( term ).pop();
    }

    $( "#id_formula" )
      // don't navigate away from the field on tab when selecting an item
      .on( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })

      .autocomplete({
        minLength: 1,
        {#source: function( request, response ) {#}
        {#  // delegate back to autocomplete, but extract the last term#}
        {#  response( $.ui.autocomplete.filter(#}
        {#    availableTags, extractLast( request.term ) ) );},#}
        source: function(request, response){
        $.ajax({
            type:'GET',
            url : "{% url 'search_info_for_autocomplete' %}",
            status : 'postfix',
            data:{
                maxRows: 100, // показать первые n результатов (Может быть и 1к но и
                nameStartsWith: extractLast(request.term), // поисковая фраза
            },
            success: function(data){
                response(data);
            }
        });
    },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push("");
          this.value = terms.join(' ');
          lastItem = ui.item.value;
          return false;
        }
      })
        .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )

        .append( "<div><strong>" + item.value + "</strong><br><span style='color: #808080'>" + item.desc + "</span></div>" )
        .appendTo( ul );
    };

       $( "#id_min_val" )
     // don't navigate away from the field on tab when selecting an item
     .on( "keydown", function( event ) {
       if ( event.keyCode === $.ui.keyCode.TAB &&
           $( this ).autocomplete( "instance" ).menu.active ) {
         event.preventDefault();
       }
     })
     .autocomplete({
       minLength: 1,
        source: function( request, response ) {
         // delegate back to autocomplete, but extract the last term
         response( $.ui.autocomplete.filter(
           availableTags, extractLast( request.term ) ) );},
       source: function(request, response){
       $.ajax({
           type:'GET',
           url : "{% url 'search_info_for_autocomplete' %}",
           data:{
               maxRows: 100, // показать первые n результатов (Может быть и 1к но и
               nameStartsWith: extractLast(request.term), // поисковая фраза
           },
           success: function(data){
               response(data);
           }
       });    },
       focus: function() {
         // prevent value inserted on focus
         return false;
       },
       select: function( event, ui ) {
         var terms = split( this.value );
         // remove the current input
         terms.pop();
         // add the selected item
         terms.push( ui.item.value );
         // add placeholder to get the comma-and-space at the end
         terms.push("");
         this.value = terms.join(' ');
         lastItem = ui.item.value;
         return false;
       }
     })
       .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )

        .append( "<div><strong>" + item.value + "</strong><br><span style='color: #808080'>" + item.desc + "</span></div>" )
        .appendTo( ul );
    };

         $( "#id_max_val" )
     // don't navigate away from the field on tab when selecting an item
     .on( "keydown", function( event ) {
       if ( event.keyCode === $.ui.keyCode.TAB &&
           $( this ).autocomplete( "instance" ).menu.active ) {
         event.preventDefault();
       }
     })
     .autocomplete({
       minLength: 1,
        source: function( request, response ) {
         // delegate back to autocomplete, but extract the last term
         response( $.ui.autocomplete.filter(
           availableTags, extractLast( request.term ) ) );},
       source: function(request, response){
       $.ajax({
           type:'GET',
           url : "{% url 'search_info_for_autocomplete' %}",
           data:{
               maxRows: 100, // показать первые n результатов (Может быть и 1к но и
               nameStartsWith: extractLast(request.term), // поисковая фраза
           },
           success: function(data){
               response(data);
           }
       });    },
       focus: function() {
         // prevent value inserted on focus
         return false;
       },
       select: function( event, ui ) {
         var terms = split( this.value );
         // remove the current input
         terms.pop();
         // add the selected item
         terms.push( ui.item.value );
         // add placeholder to get the comma-and-space at the end
         terms.push("");
         this.value = terms.join(' ');
         lastItem = ui.item.value;
         return false;
       }
     })
         .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )

        .append( "<div><strong>" + item.value + "</strong><br><span style='color: #808080'>" + item.desc + "</span></div>" )
        .appendTo( ul );
    };

         $( "#id_limit_val" )
     // don't navigate away from the field on tab when selecting an item
     .on( "keydown", function( event ) {
       if ( event.keyCode === $.ui.keyCode.TAB &&
           $( this ).autocomplete( "instance" ).menu.active ) {
         event.preventDefault();
       }
     })
     .autocomplete({
       minLength: 1,
        source: function( request, response ) {
         // delegate back to autocomplete, but extract the last term
         response( $.ui.autocomplete.filter(
           availableTags, extractLast( request.term ) ) );},
       source: function(request, response){
       $.ajax({
           type:'GET',
           url : "{% url 'search_info_for_autocomplete' %}",
           data:{
               maxRows: 100, // показать первые n результатов (Может быть и 1к но и
               nameStartsWith: extractLast(request.term), // поисковая фраза
           },
           success: function(data){
               response(data);
           }
       });    },
       focus: function() {
         // prevent value inserted on focus
         return false;
       },
       select: function( event, ui ) {
         var terms = split( this.value );
         // remove the current input
         terms.pop();
         // add the selected item
         terms.push( ui.item.value );
         // add placeholder to get the comma-and-space at the end
         terms.push("");
         this.value = terms.join(' ');
         lastItem = ui.item.value;
         return false;
       }
     })
      .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )

        .append( "<div><strong>" + item.value + "</strong><br><span style='color: #808080'>" + item.desc + "</span></div>" )
        .appendTo( ul );
    }
  } );


  </script>


    <!-- Form for adding new condition -->
<script>
    $(document).on('submit', '#add_new_condition_modal',function(e){
        e.preventDefault();
        try {
            var is_required = document.getElementById('id_is_required_condition').checked ? 1 : 0;
        }
        catch(e){
             var is_required = 0
        }
        $.ajax({
        type:'POST',
        url : "{% url 'condition_create' %}",
        data:{
            comment:$('#id_cond_name').val(),
            cond_type:$('#id_cond_type').val(),
            min_val:$('#id_min_val').val(),
            max_val:$('#id_max_val').val(),
            limit_val:$('#id_limit_val').val(),
            display_method:$('#id_display_method').val(),
            formula:$('#id_formula').val(),
            priority:$('#id_priority_for_alert').val(),
            tags: $('#id_cond_tags').val(),
            alert_interval:$('#id_interval_for_alert').val(),
            is_required_condition:is_required,

            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success: function (response) {
            location.reload();
                    {#$('#post_new_var_form').trigger('reset');#}
                    {#$('.paths_data').remove();#}
                    {#for(i=0;i<response.length;i++) {#}
                    {#$('.new_variable_table').append('<tr class="paths_data"><td>'+response[i]['fields']['path']+'</td><td>'+response[i]['fields']['source']+'</td><td>'+response[i]['fields']['interval_time']+'</td><td>');#}
                    {#$('#add_new_variable_modal').modal('hide');                    }#}

            },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
});
</script>

    <!-- Form for adding new variable -->
<script>
    $(document).on('submit', '#post_new_var_form',function(e){
        e.preventDefault();
    $.ajax({
        type:'POST',
        url : "{% url 'add_new_variable' %}",
        data:{
            source:$('#source').val(),
            var_path:$('#var_path').val(),
            interval_time:$('#interval_time').val(),
            status:'Online',
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success: function (response) {
                    $('#post_new_var_form').trigger('reset');
                    $('.paths_data').remove();
                    for(i=0;i<response.length;i++) {
                    $('.new_variable_table').append('<tr class="paths_data"><td>'+response[i]['fields']['path']+'</td><td>'+response[i]['fields']['source']+'</td><td>'+response[i]['fields']['interval_time']+'</td><td>');
                    $('#add_new_variable_modal').modal('hide');
                    }

            },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
});
</script>


    <!-- Highlighting lines of path table -->
<script>
    $(".new_variable_table").on('click','tr',function(){
        var clickedObj = $(this);
   clickedObj.addClass('selected').siblings().removeClass('selected');
   $('.del_exist_variable').prop('disabled',false);
});
</script>




    <!-- JavaScript for conditions-->

     <!-- Validation CondType select -->
<script>
$(document).on("change","#id_cond_type", function(){
        var val = $(this).val();
        if (val===1){
            $('input#id_max_val').prop('disabled',true);
            $('input#id_min_val').prop('disabled',true);
            $('input#id_limit_val').prop('disabled',true);
        }
        if (val===2 || val===3 || val===4 || val===5){
            $('input#id_max_val').prop('disabled',true);
            $('input#id_min_val').prop('disabled',true);
            $('input#id_limit_val').prop('disabled',false);
        }
        if (val===6){
            $('input#id_max_val').prop('disabled',false);
            $('input#id_min_val').prop('disabled',false);
            $('input#id_limit_val').prop('disabled',true);
        }


    });
</script>



    <!-- Button for open modal window for new conditions -->
<script>
$(document).on('click',"#add_new_condition",function (e){
    e.preventDefault();
    $.ajax({
        type:'GET',
        url : "{% url 'condition_create' %}",
        success: function (response) {
                $('.new_condition_form').html(response);
                $('#add_new_condition_modal').modal('show');
                var modal_title = $(".add-or-change-modal")
                modal_title.text("Добавление нового условия")
                modal_title.attr("data-id-of-condition", "")
            },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
});
</script>


    <!-- Button for open modal window for change exist conditions -->
<script>
$(document).on('click',"#change_exist_condition",function (e){
    var value =($(".new_condition_table tr.selected td:first").html());
    e.preventDefault();
    $.ajax({
        type:'GET',
        url : "{% url 'condition_create' %}",
        action : "Change the exist condition",
        success: function (response) {
                $('.new_condition_form').html(response);
                $.ajax({
                    type:'GET',
                    data: {cond_name:value},
                    action : "Change the exist condition",
                    url : "{% url 'get_information_about_condition_to_change_id' %}",
                    success: function (response) {
                        $('#add_new_condition_modal').modal('show')
                        var modal_title = $(".add-or-change-modal")
                        modal_title.attr("data-id-of-condition", response['pk'])
                        modal_title.text("Изменение существующего условия")
                        var is_required = $("#id_is_required_condition");
                        var cond_type = $("#id_cond_type");
                        var min_val = $("#id_min_val");
                        var max_val = $("#id_max_val");
                        var limit_val = $("#id_limit_val");
                        var display_method = $("#id_display_method");
                        var priority_for_alert = $("#id_priority_for_alert");
                        var interval_for_alert = $("#id_interval_for_alert");
                        var cond_tags = $("#id_cond_tags");

                        var min_val_div = $(".cond_min_val");
                        var max_val_div = $(".cond_max_val");
                        var limit_val_div = $(".cond_limit_val");
                        var display_method_div = $(".cond_display_method");

                        response['fields']['comment'] === 1 ? is_required.prop('checked', true) : is_required.prop('checked', false);
                        $("#id_cond_name").val(response['fields']['comment']);
                        $("#id_formula").val(response['fields']['formula']);
                        display_method.val(response['fields']['display_method']);
                        if (response['fields']['cond_type'] === "1"){
                            cond_type.val(1);
                            min_val_div.hide();
                            max_val_div.hide();
                            limit_val_div.hide();
                            display_method_div.hide();
                        }
                        else if (["2", "3", "4", "5"].includes(response['fields']['cond_type'])){
                            cond_type.val(parseInt(response['fields']['cond_type']));
                            limit_val_div.show();
                            limit_val.val(response['fields']['limit_val']);
                            min_val_div.hide();
                            max_val_div.hide();
                            display_method_div.show();
                        }
                        else if (response['fields']['cond_type'] === "6"){
                            cond_type.val(6);
                            min_val_div.show();
                            max_val_div.show();
                            min_val.val(response['fields']['min_val']);
                            max_val.val(response['fields']['max_val']);
                            limit_val_div.hide();
                            display_method_div.show();
                        }
                        else if (response['fields']['cond_type'] === "7"){
                            cond_type.val(7);
                            min_val_div.hide();
                            max_val_div.hide();
                            limit_val_div.hide();
                            display_method_div.show();
                        }
                        if (response['fields']['display_method'] === "Text+Siren"){
                            $(".cond_priority_for_signal_alert").show();
                            $(".cond_interval_for_signal_alert").show();
                            $(".cond_tags").show();
                            priority_for_alert.val(response['fields']['priority']);
                            interval_for_alert.val(response['fields']['alert_interval']);
                            cond_tags.val(response['tags']);
                        }
                        else {
                            $(".cond_priority_for_signal_alert").hide();
                            $(".cond_interval_for_signal_alert").hide();
                            $(".cond_tags").hide();
                        }


                        console.log(response)

                },
                    error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
                });
            },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
});
</script>


        <!-- Delete exist condition button -->
<script>
    $(document).on('click',".del_exist_condition",function (e){
    var value =($(".new_condition_table tr.selected td:first").html());
    e.preventDefault();
    $.ajax({
        type:'GET',
        url : "{% url 'del_exist_condition' %}",
        data:{
            cond_name:value,
        },
        success: function (response) {
            location.reload();
        },
        {#success: function (response) {#}
        {#    var comment;#}
        {#            $('.cond_data').remove();#}
        {#            if (response){#}
        {#            for(i=0;i<response.length;i++) {#}
        {#                comment = response[i]['fields']['comment'];#}
        {#         $('.new_condition_table').append('<tr class="paths_data"><td>'+comment+'</td><td>'+response[i]['fields']['formula']+'</td><td>'+response[i]['fields']['cond_type']+'</td><td>'+'</td><td>'+response[i]['fields']['display_method']+'</td><td>'+'</td><td>'+response[i]['fields']['v1']+'</td><td>'+'</td><td>'+response[i]['fields']['v2']+'</td><td>'+'</td><td>'+response[i]['fields']['v3']+'</td><td>'+'</td><td>'+response[i]['fields']['v4']+'</td><td>'+'</td><td>'+response[i]['fields']['v5']+'</td><td>'+'</td><td>'+response[i]['fields']['max_val']+'</td><td>'+'</td><td>'+response[i]['fields']['min_val']+'</td><td>'+'</td><td>'+response[i]['fields']['limit_val']+'</td><td>');#}
        {#        }#}
        {#          $('.del_exist_condition').prop('disabled',true);#}
        {##}
        {#    }#}
        {#            },#}
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
});
</script>

    <!-- Highlighting lines of cond table -->
<script>
    $(".new_condition_table").on('click','tr',function(){
        var clickedObj = $(this);
   clickedObj.addClass('selected').siblings().removeClass('selected');
   $('.del_exist_condition').prop('disabled',false);
});
</script>
        <!-- Auto completion -->


{% endblock javascript %}
