{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
<div class="row justify-content-around">
<div class="col-sm-12 gx-5">
    <h1 style="text-align: left">Ваши условия</h1>
         {% if your_conditions %}
        <table class="table table-responsive new_condition_table" >
        <tr>
        <th>Name of your condition</th>
        <th>formula</th>
        <th>Condition type</th>
        <th>Display Method</th>
        <th>Max value</th>
        <th>Min value</th>
        <th>Limit value</th>

        </tr>
        {% for data in your_conditions %}
        <tr class="cond_data" id="your_conditions">
            <td>{{ data.comment|default_if_none:"&times;" }}</td>
            <td>{{ data.formula|default_if_none:"&times;" }}</td>
            {% if data.cond_type == '1' %}
            <td>Digit result of formula</td>
            {% endif %}
            {% if data.cond_type == '2' %}
            <td><</td>
            {% endif %}
            {% if data.cond_type == '3' %}
            <td>></td>
            {% endif %}
            {% if data.cond_type == '4' %}
            <td>>=</td>
            {% endif %}
            {% if data.cond_type == '5' %}
            <td><=</td>
            {% endif %}
            {% if data.cond_type == '6' %}
            <td>Is result in interval</td>
            {% endif %}
            {% if data.cond_type == '7' %}
            <td>Bool result</td>
            {% endif %}
            <td>{{ data.display_method }}</td>
            <td>{{ data.max_val|default_if_none:"&times;" }}</td>
            <td>{{ data.min_val|default_if_none:"&times;" }}</td>
            <td>{{ data.limit_val|default_if_none:"&times;" }}</td>


        </tr>
        {% endfor %}

        {% else %}
            <p>У вас нет данных</p>
        {% endif %}
        </table>
    <div class="row justify-content-center gx-5">
        <button class="btn col-sm-5 btn-outline-dark gx-5" id="add_new_condition">Add a new condition</button>
        <button disabled class="btn col-sm-5 btn-outline-dark del_exist_condition" >Delete selected condition</button>
    </div>

    </div>

</div>
<div class="row p-3">
<div class="">
    <h1 style="text-align: left">Ваши переменные</h1>
        {% if your_variables %}
        <table class="table table-responsive new_variable_table" >
        <tr>
        <th>Variable</th>
        <th>Interval time</th>
        </tr>
        {% for data in your_variables %}
        <tr class="paths_data" id="your_variables">
            <td>{{ data.path }}</td>
            <td>{{ data.interval_time }}</td>
        </tr>
        {% endfor %}

        {% else %}
            <p>У вас нет данных</p>
        {% endif %}
        </table>
    <div class="row justify-content-center">
        <button class="btn btn-outline-dark" id="add_new_variable">Add a new variable</button>
        <button disabled class="btn btn-outline-dark del_exist_variable" >Delete selected variable</button>
    </div>
    </div>
</div>
</div>

    <!-- Modal for variable-->
<div class="modal fade" id="add_new_variable_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавление новой переменной</h5>
        <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
             <form method="POST" id="post_new_var_form">
            {% csrf_token %}
            <div class="form-group">
                 <label style="color: black">Source</label>
                <p><select  class="form-select collectes-date-chargement-min text-center" aria-label="Default select example" id="source">
                    <option selected>Choose source of variable</option>
                    <option value="tem">TemBase</option>
                    <option>Another</option>
                </select></p>
            </div>
            <div class="form-group">
                <label style="color: black">Path</label>
                <input type="text" class="form-control collectes-date-chargement-min text-center" id="var_path" placeholder="Insert path">
            </div>
            <div class="form-group">
                <label style="color: black">Interval Time</label>
                <input type="number" class="form-control collectes-date-chargement-min text-center" id="interval_time" placeholder="Insert interval time in seconds (INTEGER)">
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
            </form>
      </div>
    </div>
  </div>
</div>

    <!-- Modal for condition-->
<div class="modal fade" id="add_new_condition_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавление новой переменной</h5>
        <button type="button" class="close btn btn-outline-dark" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
            <form action="{% url 'condition_create' %}"
                method="post">
                {% csrf_token %}
                <div class="new_condition_form">

                </div>
                <button class="button btn btn-primary" type="submit">Create!</button>
            </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
    <!-- JavaScript for variables-->

    <!-- Delete exist variable -->
<script>
    $(document).on('click',".del_exist_variable",function (e){
    var value =($(".new_variable_table tr.selected td:first").html());
    e.preventDefault();
    $.ajax({
        type:'GET',
        url : "{% url 'del_exist_variable' %}",
        data:{
            var_path:value,
        },
        success: function (response) {
                    $('.paths_data').remove();
                    for(i=0;i<response.length;i++) {
                 $('.new_variable_table').append('<tr class="paths_data"><td>'+response[i]['fields']['path']+'</td><td>'+response[i]['fields']['source']+'</td><td>'+response[i]['fields']['interval_time']+'</td><td>');
                }
                  $('.del_exist_variable').prop('disabled',true);

            },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
});
</script>

    <!-- Button for open modal window for new variables -->
<script>
    $('#add_new_variable').on('click',function () {
    $('#add_new_variable_modal').modal('show')
    });
</script>
<script>
  $(document).ready( function() {

    function split( val ) {
      return val.split( / \s*/ );
    }

    function extractLast( term ) {
      return split( term ).pop();
    }

    $( "#1var_path" )
      // don't navigate away from the field on tab when selecting an item
      .on( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })

      .autocomplete({
        minLength: 1,
        {#source: function( request, response ) {#}
        {#  // delegate back to autocomplete, but extract the last term#}
        {#  response( $.ui.autocomplete.filter(#}
        {#    availableTags, extractLast( request.term ) ) );},#}
        source: function(request, response){
        $.ajax({
            type:'GET',
            url : "{% url 'search_info_for_autocomplete' %}",
            data:{
                maxRows: 100, // показать первые n результатов (Может быть и 1к но и
                nameStartsWith: extractLast(request.term), // поисковая фраза
            },
            success: function(data){
                response(data);
            }
        });
    },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push("");
          this.value = terms.join(' ');
          lastItem = ui.item.value;
          return false;
        }
      })
        .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )

        .append( "<div><strong>" + item.value + "</strong><br><span style='color: #808080'>" + item.desc + "</span></div>" )
        .appendTo( ul );
    };

    {#    $( "#id_min_val" )#}
    {#  // don't navigate away from the field on tab when selecting an item#}
    {#  .on( "keydown", function( event ) {#}
    {#    if ( event.keyCode === $.ui.keyCode.TAB &&#}
    {#        $( this ).autocomplete( "instance" ).menu.active ) {#}
    {#      event.preventDefault();#}
    {#    }#}
    {#  })#}
    {#  .autocomplete({#}
    {#    minLength: 1,#}
        {#source: function( request, response ) {#}
        {#  // delegate back to autocomplete, but extract the last term#}
        {#  response( $.ui.autocomplete.filter(#}
        {#    availableTags, extractLast( request.term ) ) );},#}
    {#    source: function(request, response){#}
    {#    $.ajax({#}
    {#        type:'GET',#}
    {#        url : "{% url 'search_info_for_autocomplete' %}",#}
    {#        data:{#}
    {#            maxRows: 100, // показать первые n результатов (Может быть и 1к но и#}
    {#            nameStartsWith: extractLast(request.term), // поисковая фраза#}
    {#        },#}
    {#        success: function(data){#}
    {#            response(data);#}
    {#        }#}
    {#    });    },#}
    {#    focus: function() {#}
    {#      // prevent value inserted on focus#}
    {#      return false;#}
    {#    },#}
    {#    select: function( event, ui ) {#}
    {#      var terms = split( this.value );#}
    {#      // remove the current input#}
    {#      terms.pop();#}
    {#      // add the selected item#}
    {#      terms.push( ui.item.value );#}
    {#      // add placeholder to get the comma-and-space at the end#}
    {#      terms.push("");#}
    {#      this.value = terms.join(' ');#}
    {#      lastItem = ui.item.value;#}
    {#      return false;#}
    {#    }#}
    {#  });#}
    {##}
    {#      $( "#id_max_val" )#}
    {#  // don't navigate away from the field on tab when selecting an item#}
    {#  .on( "keydown", function( event ) {#}
    {#    if ( event.keyCode === $.ui.keyCode.TAB &&#}
    {#        $( this ).autocomplete( "instance" ).menu.active ) {#}
    {#      event.preventDefault();#}
    {#    }#}
    {#  })#}
    {#  .autocomplete({#}
    {#    minLength: 1,#}
        {#source: function( request, response ) {#}
        {#  // delegate back to autocomplete, but extract the last term#}
        {#  response( $.ui.autocomplete.filter(#}
        {#    availableTags, extractLast( request.term ) ) );},#}
    {#    source: function(request, response){#}
    {#    $.ajax({#}
    {#        type:'GET',#}
    {#        url : "{% url 'search_info_for_autocomplete' %}",#}
    {#        data:{#}
    {#            maxRows: 100, // показать первые n результатов (Может быть и 1к но и#}
    {#            nameStartsWith: extractLast(request.term), // поисковая фраза#}
    {#        },#}
    {#        success: function(data){#}
    {#            response(data);#}
    {#        }#}
    {#    });    },#}
    {#    focus: function() {#}
    {#      // prevent value inserted on focus#}
    {#      return false;#}
    {#    },#}
    {#    select: function( event, ui ) {#}
    {#      var terms = split( this.value );#}
    {#      // remove the current input#}
    {#      terms.pop();#}
    {#      // add the selected item#}
    {#      terms.push( ui.item.value );#}
    {#      // add placeholder to get the comma-and-space at the end#}
    {#      terms.push("");#}
    {#      this.value = terms.join(' ');#}
    {#      lastItem = ui.item.value;#}
    {#      return false;#}
    {#    }#}
    {#  });#}
    {##}
    {#      $( "#id_limit_val" )#}
    {#  // don't navigate away from the field on tab when selecting an item#}
    {#  .on( "keydown", function( event ) {#}
    {#    if ( event.keyCode === $.ui.keyCode.TAB &&#}
    {#        $( this ).autocomplete( "instance" ).menu.active ) {#}
    {#      event.preventDefault();#}
    {#    }#}
    {#  })#}
    {#  .autocomplete({#}
    {#    minLength: 1,#}
        {#source: function( request, response ) {#}
        {#  // delegate back to autocomplete, but extract the last term#}
        {#  response( $.ui.autocomplete.filter(#}
        {#    availableTags, extractLast( request.term ) ) );},#}
    {#    source: function(request, response){#}
    {#    $.ajax({#}
    {#        type:'GET',#}
    {#        url : "{% url 'search_info_for_autocomplete' %}",#}
    {#        data:{#}
    {#            maxRows: 100, // показать первые n результатов (Может быть и 1к но и#}
    {#            nameStartsWith: extractLast(request.term), // поисковая фраза#}
    {#        },#}
    {#        success: function(data){#}
    {#            response(data);#}
    {#        }#}
    {#    });    },#}
    {#    focus: function() {#}
    {#      // prevent value inserted on focus#}
    {#      return false;#}
    {#    },#}
    {#    select: function( event, ui ) {#}
    {#      var terms = split( this.value );#}
    {#      // remove the current input#}
    {#      terms.pop();#}
    {#      // add the selected item#}
    {#      terms.push( ui.item.value );#}
    {#      // add placeholder to get the comma-and-space at the end#}
    {#      terms.push("");#}
    {#      this.value = terms.join(' ');#}
    {#      lastItem = ui.item.value;#}
    {#      return false;#}
    {#    }#}
    {#  })#}
  } );


  </script>


    <!-- Form for new variables -->
<script>
    $(document).on('submit', '#post_new_var_form',function(e){
        e.preventDefault();
    $.ajax({
        type:'POST',
        url : "{% url 'add_new_variable' %}",
        data:{
            source:$('#source').val(),
            var_path:$('#var_path').val(),
            interval_time:$('#interval_time').val(),
            status:'Online',
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success: function (response) {
                    $('#post_new_var_form').trigger('reset');
                    $('.paths_data').remove();
                    for(i=0;i<response.length;i++) {
                    $('.new_variable_table').append('<tr class="paths_data"><td>'+response[i]['fields']['path']+'</td><td>'+response[i]['fields']['source']+'</td><td>'+response[i]['fields']['interval_time']+'</td><td>');
                    $('#add_new_variable_modal').modal('hide');
                    }

            },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
});
</script>

    <!-- Highlighting lines of path table -->
<script>
    $(".new_variable_table").on('click','tr',function(){
        var clickedObj = $(this);
   clickedObj.addClass('selected').siblings().removeClass('selected');
   $('.del_exist_variable').prop('disabled',false);
});
</script>




    <!-- JavaScript for conditions-->

     <!-- Validation CondType select -->
<script>
$(document).on("change","#id_cond_type", function(){
        var val = $(this).val();
        if (val==1){
            $('input#id_max_val').prop('disabled',true);
            $('input#id_min_val').prop('disabled',true);
            $('input#id_limit_val').prop('disabled',true);
        }
        if (val==2 || val==3 || val==4 || val==5){
            $('input#id_max_val').prop('disabled',true);
            $('input#id_min_val').prop('disabled',true);
            $('input#id_limit_val').prop('disabled',false);
        }
        if (val==6){
            $('input#id_max_val').prop('disabled',false);
            $('input#id_min_val').prop('disabled',false);
            $('input#id_limit_val').prop('disabled',true);
        }


    });
</script>



    <!-- Button for open modal window for new conditions -->
<script>
$(document).on('click',"#add_new_condition",function (e){
    e.preventDefault();
    $.ajax({
        type:'GET',
        url : "{% url 'condition_create' %}",
        success: function (response) {
                $('.new_condition_form').html(response);
                $('#add_new_condition_modal').modal('show')
            },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
});
</script>


        <!-- Delete exist condition -->
<script>
    $(document).on('click',".del_exist_condition",function (e){
    var value =($(".new_condition_table tr.selected td:first").html());
    e.preventDefault();
    $.ajax({
        type:'GET',
        url : "{% url 'del_exist_condition' %}",
        data:{
            cond_name:value,
        },
        success: function (response) {
            location.reload();
        },
        {#success: function (response) {#}
        {#    var comment;#}
        {#            $('.cond_data').remove();#}
        {#            if (response){#}
        {#            for(i=0;i<response.length;i++) {#}
        {#                comment = response[i]['fields']['comment'];#}
        {#         $('.new_condition_table').append('<tr class="paths_data"><td>'+comment+'</td><td>'+response[i]['fields']['formula']+'</td><td>'+response[i]['fields']['cond_type']+'</td><td>'+'</td><td>'+response[i]['fields']['display_method']+'</td><td>'+'</td><td>'+response[i]['fields']['v1']+'</td><td>'+'</td><td>'+response[i]['fields']['v2']+'</td><td>'+'</td><td>'+response[i]['fields']['v3']+'</td><td>'+'</td><td>'+response[i]['fields']['v4']+'</td><td>'+'</td><td>'+response[i]['fields']['v5']+'</td><td>'+'</td><td>'+response[i]['fields']['max_val']+'</td><td>'+'</td><td>'+response[i]['fields']['min_val']+'</td><td>'+'</td><td>'+response[i]['fields']['limit_val']+'</td><td>');#}
        {#        }#}
        {#          $('.del_exist_condition').prop('disabled',true);#}
        {##}
        {#    }#}
        {#            },#}
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
});
</script>

    <!-- Highlighting lines of cond table -->
<script>
    $(".new_condition_table").on('click','tr',function(){
        var clickedObj = $(this);
   clickedObj.addClass('selected').siblings().removeClass('selected');
   $('.del_exist_condition').prop('disabled',false);
});
</script>
        <!-- Auto completion -->


{% endblock javascript %}
