{% extends "base.html" %}

{% block content %}
	<h1 align="center">Редактор добавления новых графов</h1 >
    <div class="row justify-content-center main-info">
        <div class="col-sm-8 text-center svg_place">

        </div>

        <div class="info text-center col-sm-4">
            <p><mark>1. Choose a background image.</mark></p>
            <input type="file" id="file-selector">
            <p id="status"></p>
            <p><mark>2. Choose the scale of the image.</mark></p>
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            <p>Size of img in %: <span id="demo"></span></p>
            <p><mark>3. Get the HTML code of svg to use it.</mark></p>
            <input id="get_HTML_code" type="button" onclick="getHTMLcode()" value="Получить HTML код">
        </div>
    </div>

{#	<div>#}
{#		<form>#}
{#   			<p>#}
{#                #}
{#   				<input id="addAttribute" type="button" onclick="addAttribute()" value="Добавить атрибут">#}
{#   				#}
{#                 <input type="file" id="file-selector">#}
{##}
{#   			</p>#}
{##}
{# 		</form>#}
{#	</div>#}

  <div id="toolbox">
    <input type="file" id="hidden-file-upload">
      {% load static %}
    <input id="upload-input" type="image" height="10px" width="10px" title="upload graph" src="{% static 'img/upload-icon.png' %}" alt="upload graph">
      {% load static %}
    <input type="image" height="10px" width="10px" id="delete-graph" title="delete graph" src="{% static 'img/trash-icon.png' %}" alt="delete graph">
  </div>
  <div class=graph id=graph>

  </div>




{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
    <script src="{% static 'js/script_for_graph_editor.js' %}"></script>


    <script>
        function addAttribute() {
           document.querySelectorAll('svg g.conceptG circle').forEach(x => { x.setAttribute("data-condname","NULL")});
           }
    </script>
    <script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value; // Display the default slider value
        slider.oninput = function(){
            document.querySelectorAll('svg g.conceptG circle').forEach(el => el.remove());
            output.innerHTML = this.value;
            document.getElementById("mysvg").style.height = this.value+'%';
            document.getElementById("mysvg").style.width = this.value+'%';
            document.getElementById("mysvg").style.backgroundSize = this.value+'%';
        }
    </script>
    <script type="text/javascript">
      function textToClipboard (text) {
          var dummy = document.createElement("textarea");
          document.body.appendChild(dummy);
          dummy.value = text;
          dummy.select();
          document.execCommand("copy");
          document.body.removeChild(dummy);
        }
      function getHTMLcode(){
            var copyText = document.querySelector('svg').outerHTML;
            textToClipboard(copyText);
        }
    </script>

    <script>
      const status = document.getElementById('status');

      const mysvg = document.getElementById('mysvg');
      if (window.FileList && window.File && window.FileReader) {
        document.getElementById('file-selector').addEventListener('change', event => {
          status.textContent = '';
          const file = event.target.files[0];
          if (!file.type) {
            status.textContent = 'Error: The File.type property does not appear to be supported on this browser.';
            return;
          }
          if (!file.type.match('image.*')) {
            status.textContent = 'Error: The selected file does not appear to be an image.'
            return;
          }
          const reader = new FileReader();
          reader.addEventListener('load', event => {
            var image = new Image();
            image.src = event.target.result;
            alert(image.width + ' ANDREY UEBOK' + image.height);
            d3.select('svg')
                .attr('width', image.width)
                .attr('height', image.height);
            mysvg.style.background = "url('"+event.target.result+"') no-repeat";
            mysvg.style.backgroundSize = '100%';


          });
          reader.readAsDataURL(file);
          // console.log(file.width);
          // console.log(this.width);
          // document.getElementById('mysvg').style.backgroundImage = "url('"+file+"')"

        });
      }
    </script>

{% endblock javascript %}