{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/d3-context-menu.css' %}">
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_for_graph_editor.css' %}">
{% block content %}

	<h1 align="center">Редактор добавления новых графов</h1 >
	<div>
		<form>
   			<p>
   				<button onclick="addAttribute()">Добавить атрибут</button>
   				<input id="addAttribute" type="button" onclick="addAttribute()" value="Добавить атрибут">
   				<input id="get_HTML_code" type="button" onclick="getHTMLcode()" value="Получить HTML код">
   			</p>

 		</form>
	</div>
  <div id="toolbox">
    <input type="file" id="hidden-file-upload">
      {% load static %}
    <input id="upload-input" type="image" title="upload graph" src="{% static 'img/upload-icon.png' %}" alt="upload graph">
      {% load static %}
    <input type="image" id="delete-graph" title="delete graph" src="{% static 'img/trash-icon.png' %}" alt="delete graph">
  </div>
  <div class=graph id=graph>

  </div>




{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
    <script src="{% static 'js/script_for_graph_editor.js' %}"></script>


    <script>
        function addAttribute() {
           document.querySelectorAll('svg g.conceptG circle').forEach(element => { element.setAttribute('data-condname','NULL')});
           }

        function getHTMLcode(){
            var copyText = document.querySelector('svg').outerHTML;
            copyText.select();
            document.execCommand('copy');
            alert("Coppied HTML code");
        }
    </script>


{% endblock javascript %}