{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="info col-sm-6">
        <h1>Info in Django Data Base</h1>
        {% if info %}
        <table class="table" id='success'>
        <tr>
        <th>Path</th>
        <th>Result</th>
        <th>Submission date</th>
        </tr>
        <tr class="Sc_results_data"></tr>
        </table>

        {% else %}
            <p>У вас нет данных</p>
        {% endif %}
        </div>

        <div class="info col-sm-5">
            <h1>Information from your conditions</h1>
            <h2>Text display</h2>
            <div class="col-sm-6">
            <table class="tablышe">
                <tr>
                    <th >Info</th>
                    <th>Name of condition</th>
                    <th>Result</th>
                    <th>Siren on?</th>
                </tr>
                {% for data in condition_result %}
                <tr class="Cond_res">
                     <td title="Info about condition:&#013;{% if data.result_formula %}Result: {{ data.result_formula }}&#013;{% endif %}Value Formula: {{ data.val_formula }}&#013;Text Formula: {{ data.text_formula }}&#013;{% if data.cond_type == '1' %}Condition type: Text only! &#013; {% endif %}{% if data.empty_values %}This sample(s) is(are) empty: {{ data.empty_values }}&#013;{% endif %}"
                        style="text-align: center">&times;</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.result }}</td>
                    <td>{% if data.display_method == 'Text+Siren' %} Yes! {% else %} No! {% endif %}</td>
                </tr>
        {% endfor %}
            </table>
            </div>


        </div>

    </div>

    <div>

{#    Форма для POST#}
{#    <form method="POST" id="post-form">#}
{#  {% csrf_token %}#}
{#  <div class="form-group">#}
{#    <label>path</label>#}
{#    <input type="text" class="form-control" id="path" placeholder="Path">#}
{#  </div>#}
{#   <div class="form-group">#}
{#     <label>interval_time</label>#}
{#     <textarea class="form-control" id="interval_time" placeholder="interval_time"></textarea>#}
{#   </div>#}
{#   <button type="submit" class="btn btn-primary">Submit</button>#}
{#    </form>#}

    </div>






{% endblock %}

{% block javascript %}
    <script>
    window.onload = function () {
      Update_info();
    };
    </script>

    <script>
    function Update_info(){
                $.ajax({
            type: 'GET',
            url: "{% url 'display_data' %}",
            datatype: 'json',

            success: function (response) {

                    var stamp_date;
                    var submission_date;
                    $('.Sc_results_data').remove()
                for (i = 0; i < response.length; i++) {
                    if ((response[i]['fields']['stamp_date'])) {
                        stamp_date = new Date((response[i]['fields']['stamp_date']) / 1000);
                        stamp_date.toISOString();
                        stamp_date = moment(stamp_date.toISOString()).format('DD-MM-YYYY, h:mm:ss');
                    } else {
                        stamp_date = 'NULL';
                    }
                    submission_date = new Date(response[i]['fields']['submission_date']);
                    submission_date.toISOString();
                    submission_date = moment(submission_date.toISOString()).format('DD-MM-YYYY, h:mm:ss');
                    $('#success').append('<tr class="Sc_results_data"><td>' + response[i]['pk'] + '</td><td>' + response[i]['fields']['value'] + '</td><td>' + submission_date + '</td><td>');
                }

            },
            error: function (response) {
                console.log(response)
            }
        });
    }
    $(document).ready(function (){
        setInterval(Update_info,5000)
    })
{##}
{#        $('button').on('click',function (e) {#}
{#        e.preventDefault();#}
{#        // GET AJAX request#}
{#        $.ajax({#}
{#            type: 'GET',#}
{#            url: "{% url 'display_data' %}",#}
{#            datatype: 'json',#}
{##}
{#            success: function (response) {#}
{#                    for(i=0;i<response.length;i++) {#}
{#                    $('#success').append('<tr><td>'+response[i]['pk']+'</td><td>'+response[i]['fields']['value']+'</td><td>'+response[i]['fields']['flag']+'</td><td>'+response[i]['fields']['submission_date']+'</td><td>');#}
{#                    }#}
{##}
{#            },#}
{#            error: function (response) {#}
{#                console.log(response)#}
{#            }#}
{#        })#}
{#    })#}
    </script>

{#    <script>#}
    {#Форма с POST#}
{#    $(document).on('submit', '#post-form',function(e){#}
{#        e.preventDefault();#}
{#    $.ajax({#}
{#        type:'POST',#}
{#        url : "{% url 'create_post' %}",#}
{#        data:{#}
{#            path:$('#path').val(),#}
{#            interval_time:$('#interval_time').val(),#}
{#            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),#}
{#            action: 'post'#}
{#        },#}
{#        success:function(json){#}
{#            document.getElementById("post-form").reset();#}
{#            $("body").prepend(#}
{#                    `#}
{#                    <p>${json.path}</p>#}
{#                    `#}
{#                )#}
{#            $(".info").prepend('<div class="col-md-6">'+#}
{#                '<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">' +#}
{#                    '<div class="col p-4 d-flex flex-column position-static">' +#}
{#                        '<h3 class="mb-0">' + json.path + '</h3>' +#}
{#                        '<p class="mb-auto">' + json.interval_time + '</p>' +#}
{#                    '</div>' +#}
{#                '</div>' +#}
{#            '</div>'#}
{#            )#}
{#        },#}
{#        error : function(xhr,errmsg,err) {#}
{#        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console#}
{#    }#}
{#    });#}
{#});#}
{#</script>#}

{% endblock javascript %}